<div #zoomContainer class="ngxImageZoomContainer">

    <img #imageThumbnail class="ngxImageZoomThumbnail" [src]="thumbImage" width="100%" height="100%"
         (load)="onThumbImageLoaded()"/>

    <div [ngClass]="{'ngxImageZoomFullContainer': true, 'ngxImageZoomLensEnabled': this.enableLens}"
         [style.display]="this.display"
         [style.top.px]="this.lensTop"
         [style.left.px]="this.lensLeft"
         [style.width.px]="this.lensWidth"
         [style.height.px]="this.lensHeight"
         [style.border-radius.px]="this.lensBorderRadius"
    >
        <img #fullSizeImage class="ngxImageZoomFull" [src]="fullImage"
             (load)="onFullImageLoaded()"
             [style.display]="this.display"
             [style.top.px]="this.fullImageTop"
             [style.left.px]="this.fullImageLeft"
             [style.width.px]="this.magnifiedWidth"
             [style.height.px]="this.magnifiedHeight"
        />
    </div>
</div>
